body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  background-image: url(https://cdn.pixabay.com/photo/2019/05/05/18/58/girl-4181395_640.jpg); /* Thay đổi đường dẫn đến hình ảnh nền của bạn */
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Nền trắng mờ để nổi bật nội dung */
  border-radius: 10px;
}